In [277]:
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [278]:
!which chromedriver
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

/usr/local/bin/chromedriver

In [279]:
#Mars website
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [280]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [257]:
#Latest News and Paragraph Text
#<div class="content_title">
latest_title = soup.find("div", class_='content_title').get_text()
latest_title

'Mars InSight Lander Seen in First Images from Space '

In [258]:
#<div class="article_teaser_body">
# latest_par = soup.find("p", class_="article_teaser_body").get_text()
latest_par = soup.find("div", class_="article_teaser_body").get_text()
latest_par

"Look closely, and you can make out the lander's solar panels."

In [259]:
#Mars Featured Image - JPL Featured Space Image (https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars)
start_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(start_url)

In [260]:
jpl_html = browser.html
image_soup = BeautifulSoup(jpl_html, 'html.parser')

In [261]:
image_part = image_soup.find("a", id="full_image")
image_part

<a class="button fancybox" data-description="This view shows the patch of veined, flat-lying rock selected as the first drilling site for NASA's Mars rover Curiosity." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA16567_ip.jpg" data-link="/spaceimages/details.php?id=PIA16567" data-title="'John Klein' Site Selected for Curiosity's Drill Debut" id="full_image">
					FULL IMAGE
				  </a>

In [262]:
image_url = "/spaceimages/images/mediumsize/PIA08097_ip.jpg"
full_url = ("https://jpl.nasa.gov" + image_url)
full_url

'https://jpl.nasa.gov/spaceimages/images/mediumsize/PIA08097_ip.jpg'

In [263]:
# Mars Weather - Twitter Account (https://twitter.com/marswxreport?lang=en)
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)
weather_html = browser.html
weather_soup = BeautifulSoup(weather_html,"html.parser")

In [264]:
#Tweets all contain weather data - Take first tweet
mars_temp = weather_soup.find('div', class_='tweet')
mars_weather = mars_temp.find('p', class_='tweet-text').text
mars_weather

'The InSight lander, discarded heatshield, back shell and parachute have been spotted from orbit by the @HiRISE camera aboard the Mars Reconnaissance Orbiter  https://www.uahirise.org/releases/insight/hardware/\xa0…pic.twitter.com/6BM7QMWrU4'

In [265]:
# Mars Facts - Main Page(http://space-facts.com/mars/) 
# Use Pandas to scrape the data on Diameter, Mass, etc.

mars_facts_url = "http://space-facts.com/mars/"
# browser.visit(mars_facts_url)
# facts_html = browser.html
# facts_soup = BeautifulSoup(mars_facts_html, 'html.parser')

In [266]:
df_facts = pd.read_html(mars_facts_url)[0]
df_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [267]:
# Use Pandas to convert the data to a HTML table string
df_facts.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [270]:
# Mars Hemispheres - USGS Astrogeology (https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars)
#Save the image url string and the title containing the hemisphere name
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)
hemis_html = browser.html
hemis_soup = BeautifulSoup(hemis_html, 'html.parser')

In [271]:
#Grab four hemispheres
#class="itemLink product-item
#h3 tag

hemis_url_title =[]

for i in range (4):
    #hemisphere = {}
    images = browser.find_by_tag('h3')
    #go through images
    images[i].click()
    hemis_html = browser.html
    hemis_soup = BeautifulSoup(hemis_html, 'html.parser')
    
    #title
    grab_title = hemis_soup.find('h2', class_='title').text
    
    #URL
    url = hemis_soup.find('img', class_='wide-image')['src']
    links_hemis = ("https://astrogeology.usgs.gov" + url)
    create_dictionary = {'Sphere_Title' : grab_title, 'URL': url}
    
    hemis_url_title.append(create_dictionary)
    browser.back()
    
print(hemis_url_title)

[{'Sphere_Title': 'Cerberus Hemisphere Enhanced', 'URL': '/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'Sphere_Title': 'Schiaparelli Hemisphere Enhanced', 'URL': '/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'Sphere_Title': 'Syrtis Major Hemisphere Enhanced', 'URL': '/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'Sphere_Title': 'Valles Marineris Hemisphere Enhanced', 'URL': '/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [272]:
browser.quit()